<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.personal.providerserver.dao.IProductDao">
    <resultMap id="BaseResultMap" type="com.cloud.personal.providerserver.entity.Product">
        <id column="p_id" jdbcType="BIGINT" property="pId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        p_id,name,unit_price,stock,create_time
    </sql>

    <sql id="Base_Object_List">
        #{at.pId},#{at.name},#{at.unitPrice},#{at.stock},#{at.createTime}
    </sql>

    <sql id="Set_Not_Null_List">
        <set>
            <if test="ut.pId != null">
                p_id = #{ut.pId},
            </if>
            <if test="ut.name != null">
                name = #{ut.name},
            </if>
            <if test="ut.unitPrice != null">
                unit_price = #{ut.unitPrice},
            </if>
            <if test="ut.stock != null">
                stock = #{ut.stock},
            </if>
            <if test="ut.createTime != null">
                create_time = #{ut.createTime}
            </if>
        </set>
    </sql>

    <sql id="Set_With_Null_List">
        <set>
            p_id = #{ut.pId},
            name = #{ut.name},
            unit_price = #{ut.unitPrice},
            stock = #{ut.stock},
            create_time = #{ut.createTime}
        </set>
    </sql>

    <sql id="For_Each_Condition">
        <foreach collection="conditGroup.conditions" item="condit">
            <choose>
                <when test="condit.noValue">
                ${condit.condition}
                </when>
                <when test="condit.oneValue">
                ${condit.condition} #{condit.value1}
                </when>
                <when test="condit.secondValue">
                ${condit.condition} #{condit.value1} and #{condit.value2}
                </when>
                <when test="condit.listValue">
                ${condit.condition}
                    <foreach collection="condit.list" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                    </foreach>
                </when>
            </choose>
        </foreach>
    </sql>

    <sql id="where_sql">
        <if test="st.pId != null">
            AND p_id = #{st.pId}
        </if>
        <if test="st.name != null">
            AND name = #{st.name}
        </if>
        <if test="st.unitPrice != null">
            AND unit_price = #{st.unitPrice}
        </if>
        <if test="st.stock != null">
            AND stock = #{st.stock}
        </if>
        <if test="st.createTime != null">
            AND create_time = #{st.createTime}
        </if>
        <if test="st.conditGroups != null">
            <foreach collection="st.conditGroups" item="conditGroup" separator=" ">
                <if test="conditGroup.valid">
                    ${conditGroup.opt}
                    <choose>
                        <when test="conditGroup.conditions.size() > 1">
                            <trim prefix="(" prefixOverrides="and|or" suffix=")">
                                <include refid="For_Each_Condition" />
                            </trim>
                        </when>
                        <otherwise>
                            <trim prefixOverrides="and|or">
                                <include refid="For_Each_Condition" />
                            </trim>
                        </otherwise>
                    </choose>
                </if>
            </foreach>
        </if>
    </sql>

    <!--获取最大的主键-->
    <select id="selectMaxId" resultType="java.lang.Long">
        select IFNULL(max(p_id), 0) from `product`
    </select>

    <!--根据主键获取对象-->
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from product
        <where>
            AND p_id = #{pId}
        </where>
    </select>

    <!--查询列表-->
    <select id="selectList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from product
        <where>
            <include refid="where_sql" />
        </where>
        <if test="st.orderByList!=null and st.orderByList.size() > 0">
            order by
            <foreach collection="st.orderByList" item="order" separator=",">
                ${order.field} ${order.mode}
            </foreach>
        </if>
        <if test="st.index != null and st.pageSize != null and st.pageSize > 0" >
            limit #{st.index},#{st.pageSize}
        </if>
    </select>

    <!--查询列表-->
    <select id="selectFieldList" resultMap="BaseResultMap">
        select
        <foreach collection="fl" item="field" separator=",">
            ${field}
        </foreach>
        from product
        <where>
            <include refid="where_sql" />
        </where>
        <if test="st.orderByList!=null and st.orderByList.size() > 0">
            order by
            <foreach collection="st.orderByList" item="order" separator=",">
            ${order.field} ${order.mode}
            </foreach>
        </if>
        <if test="st.index != null and st.pageSize != null and st.pageSize > 0" >
            limit #{st.index},#{st.pageSize}
        </if>
    </select>

    <!--查询列表总数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(1) from product
        <where>
            <include refid="where_sql" />
        </where>
    </select>

    <!--根据ID列表获取记录列表-->
    <select id="selectBatchIds" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from product
        <where>
        p_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
            </foreach>
        </where>
    </select>

    <!--插入对象-->
    <insert id="add">
        insert into product(<include refid="Base_Column_List" />)
        values(<include refid="Base_Object_List" />)
    </insert>

    <!--批量插入对象-->
    <insert id="addBatch">
        insert into product(<include refid="Base_Column_List" />)
        values
        <foreach collection="list" index="index" item="at" separator=",">
            (<include refid="Base_Object_List" />)
        </foreach>
    </insert>

    <!--更新对象-->
    <update id="updateNotNull">
        update product
        <include refid="Set_Not_Null_List" />
        <where>
            AND p_id = #{ut.pId}
        </where>
    </update>

    <!--批量更新对象-->
    <update id="updateBatchNotNull">
        <foreach collection="list" separator=";" item="ut">
            update product
            <include refid="Set_Not_Null_List" />
            <where>
                AND p_id = #{ut.pId}
            </where>
        </foreach>
    </update>

    <!--更新对象(全更新)-->
    <update id="updateWithNull">
        update product
        <include refid="Set_With_Null_List" />
        <where>
            AND p_id = #{ut.pId}
        </where>
    </update>

    <!--批量更新对象(全更新)-->
    <update id="updateBatchWithNull">
        <foreach collection="list" separator=";" item="ut">
            update product
            <include refid="Set_With_Null_List" />
            <where>
                AND p_id = #{ut.pId}
            </where>
        </foreach>
    </update>

    <!--更新对象,根据查询条件更新-->
    <update id="updateByMap">
        update product
        <set>
            <foreach collection="um" index="key" item="value" separator=",">
                ${key} = #{value}
            </foreach>
        </set>
        <where>
            <include refid="where_sql" />
        </where>
    </update>

    <!--根据查询条件删除记录-->
    <delete id="delete">
        delete from product
        <where>
            <include refid="where_sql" />
        </where>
    </delete>

    <!--根据主键删除对象-->
    <delete id="deleteById">
        delete from product
        <where>
            AND p_id = #{pId}
        </where>
    </delete>

    <!-- 批量删除对象 -->
    <delete id="deleteBatchIds">
        delete from product
        <where>
            p_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </delete>


    <!--~~~~~~~~~~~~~~~~~~~~~~ custom code begin ~~~~~~~~~~~~~~~~~~~~~~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~ custom code end ~~~~~~~~~~~~~~~~~~~~~~-->

</mapper>